[submodule "vim/bundle/bundler"]
	path = vim/bundle/bundler
	url = https://github.com/tpope/vim-bundler.git
[submodule "vim/bundle/coffee-script"]
	path = vim/bundle/coffee-script
	url = https://github.com/tpope/vim-coffee-script.git
[submodule "vim/bundle/fugitive"]
	path = vim/bundle/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "vim/bundle/rails"]
	path = vim/bundle/rails
	url = https://github.com/tpope/vim-rails.git
[submodule "vim/bundle/rake"]
	path = vim/bundle/rake
	url = https://github.com/tpope/vim-rake.git
[submodule "vim/bundle/rename"]
	path = vim/bundle/rename
	url = https://github.com/danro/rename.vim.git
